/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 mars 2018, 15:41:18
    Author     : hp
*/

.bordure{
   border: 1px solid grey; 
}
.menu-haut{
    height: 57px;
    padding-top: 15px;
}
.rubrique-2{
    padding-top: 7px;
}
.cadre{
   border: 1px solid tomato
}
.slide{
    height: 390px
}
#slide-gauche{
    background-color: #a1cd5b
}
#sous-menu{
    height: 81px;
}
#content{
    height: 500px
}
#footer{
    height: 300px
}
.marge-interne{
    padding-top: 15px;
    padding-bottom: 15px;
}
.survol:hover{
    background-color: #a1cd5b
}
.survol2:hover{
    background-color: tomato
}
.survol3:hover{
    background-color: #8c0d7e
}
.survol4:hover{
    background-color: #35679a
}